#welcome {
	//background-image: url('../images/anacapa-large.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	min-height: 100vh;
	overflow: hidden;
	position: relative;
	
	flex-direction: column;

	@media (max-width: 767px){
		background-image: url('../images/anacapa-small.jpg');
	}
	
	@media (min-width: 768px){
		width: 100vw;
		height: 100vh;
		background: darkblue;
		position: relative;
		overflow: hidden;
	}
}

.video-bg {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	
	@media (max-aspect-ratio: 16/9){
		width: auto;
		height: 100%;
	}
	
	@media (min-aspect-ratio: 16/9){
		width: 100%;
		height: auto;
	}
	
	
	
	@media (max-width: 767px){
		display: none;
	}
}

.welcome-banner {
	border-top: .5em solid $color2;
	border-bottom: .5em solid $color2;
	background-color: lighten($color1,10%);
	background-image: url('../images/waves.svg');
	background-size: 100px auto;
	
	color: white;
	position: relative;
	z-index: 100;
	
	padding: 0;
	text-align: center;
}

.welcome-content {
	background: $color1;
	margin: 1em 0;
	padding: 1em;
	
	p {
		text-align: left;
		margin: auto auto 2em auto;
	}
	
	@media (min-width: 768px){
		margin: 0 10vw;
		padding: 2em;
		
		p {
			text-align: center;
			max-width: 30ch;
		}
	}
	
}


.masthead-mark {
	width: 80px;
	height: auto;
	margin: auto;
}

.site-nav {
	display: flex;
	justify-content: center;
	margin: 0 auto 2em auto;
	flex-wrap: wrap;
	
	>li {
		flex: 0 0 auto;
		display: block;
		list-style: none;
		margin: 0;
	}
}

.icon-link {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0.5rem;
	border-radius: 3px;
	
	.icon {
		display: block;
		flex: 0 0 auto;
		width: 1.5em;
		height: 1.5em;
		margin-bottom: 0.5rem;
		transition: 250ms ease-in-out all;
		
		svg {
			fill: $color2;
			width: 100%;
			height: 100%;
		}
	}
	
	.icon-label {
		flex: 1 1 100%;
		display: block;
		color: rgba(white,0.75);
		font-size: em(12);
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
	
	&:hover {
		background: rgba(white,0.1);
		text-decoration: none;
		
		.icon-label {
			color: white;
		}
		
		.icon {
			transform: scale(1.2);
			
		}
	}
	
	@media (min-width: 1024px){
		.icon {
			width: 2em;
			height: 2em;
		}
	}
}


.header-credit {
	font-weight: bold;
	font-size: em(11);
	text-transform: uppercase;
	letter-spacing: em(1);
	line-height: 1.25em;
	color: rgba(white,0.75);
	text-shadow: 0 0 5px black, 0 0 15px black;
	align-self: flex-end;
	text-align: right;
}