$scroll-transition: 250ms linear;

.scroll-nav {
	visibility: hidden;
	opacity: 0;
	transition: $scroll-transition opacity;

	position: fixed;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 10000;
	padding: 1em;

	display: flex;
	align-items: center;

	ul {
		display: flex;
		flex-direction: column;
		height: 50%;
		justify-content: space-between;
	}

	&.scroll-nav-active {
		visibility: visible;
		opacity: 1;
	}
}

.scroll-nav-item {
	display: inline-block;
	border-radius: 3px;
	transition: $scroll-transition background-color;
	cursor: pointer;

	&::before {
		content: '';
		display: inline-block;
		background-image: url('../images/white-dot.svg');
		background-size: 12px 12px;
		background-repeat: no-repeat;
		background-position: center center;
		width: 28px;
		height: 28px;
		vertical-align: middle;
	}
	
	&:hover {
		background-color: $color2;
	}
	
	&.scroll-nav-item-on {
		background-color: $color2;
	}
}



.label {
	display: none;

	color: white;
	padding: 0 0.5em 0 0;
	height: 18px;
	font-size: 1em;
	line-height: normal;
	vertical-align: middle;
	font-weight: bold;

	.scroll-nav-item:hover & {
		display: inline-block;
	}
}
