<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>The Pit Wall | Browse Formula 1 Statistics</title>
	
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="pitwall.css" />
	
</head>
<body>
	
<div id="app">
	
	<header class="header">
		<h1>{{ seasonSelect }} Season</h1>
		
		<nav class="data-selection">
			<label for="season-select">Select a Season</label>
			<select id="season-select" v-model="seasonSelect" class="season-select">
				<option v-for="season in seasons" :value="season.season">{{ season.season }}</option>
			</select>
		</nav>
	</header>

	<div class="races">
	
	<div class="race-table" v-for="item in races">

		<header>
			<h2>{{ item.raceName }}</h2>
			<h3>{{ item.Circuit.circuitName }}</h3>
			<small>Round {{ item.round }} • {{ formatDate(item.date) }}</small>
		</header>

		<table class="chart" v-bind:class="{ 'show-all': item.showAll }">
			<thead>
				<tr>
					<th>Pos</th>
					<th>Driver</th>
					<th>Grid</th>
					<th>Car #</th>
					<th>Constructor</th>
					<th>Fastest Lap</th>
					<th>Laps</th>
					<th>Time</th>
					<th>Points</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="car in item.Results">
					<td>{{ car.positionText }}</td>
					<td>{{ car.Driver.givenName }} {{ car.Driver.familyName }}</td>
					<td>{{ gridFinishDiff(car.grid,car.position) }}</td>
					<td>{{ car.number }}</td>
					<td>{{ car.Constructor.name }}</td>
					<td>{{ car.FastestLap ? car.FastestLap.Time.time : '' }}</td>
					<td>{{ car.laps }}</td>
					<td>{{ car.Time ? car.Time.time : '' }}</td>
					<td>{{ car.points }}</td>
				</tr>
			</tbody>
		</table>
		
		<footer>
			<div class="show-all-btn" v-on:click="showAll(item)">Show Entire Results</div>
		</footer>	
			
	</div>
	</div>
	
	<div class="standings">
	<div class="standings-table">
		
		<header>
			<h2>Driver's Championship</h2>
		</header>
		
		<table class="chart">
			<thead>
				<tr>
					<th>Pos</th>
					<th>Driver</th>
					<th>Constructor</th>
					<th>Points</th>
					<th>Wins</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="item in driverStandings">
					<td>{{ item.positionText }}</td>
					<td>{{ item.Driver.givenName }} {{ item.Driver.familyName }}</td>
					<td>{{ constructorsList(item.Constructors) }}</td>
					<td>{{ item.points }}</td>
					<td>{{ item.wins }}</td>
				</tr>
			</tbody>
		</table>
		
		<footer>
			<div class="show-all-btn" v-on:click="showAll(item)">Show Entire Results</div>
		</footer>	

	</div>
	</div>
	
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>


<script type="text/javascript" src="pitwall.js"></script>
	

</body>
</html>
